$buttonColor : rgba(0, 0, 255, 0.7);
$buttonHoveredColor : rgba(0, 0, 255, 0.9);

.categoriesContainer {
  display: flex;
  width: 100vw;
  height: 80vh;

  button {
    margin: auto;
    padding: 1%;
    background-color: $buttonColor;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 100;
    font-size: 14px;
  }

  button:hover {
    background-color: $buttonHoveredColor;
    transform: scale(1.01);
    transition: 0.4s ease-out;
  }

  button:active {
    transform: scale(0.99);
    transition: 0.4s ease-in;
  }
}
